*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0f1220;
    color:white;
}

.header{
    padding:20px;
    font-size:22px;
    font-weight:bold;
}

.tabs{
    display:flex;
    border-bottom:2px solid #2a2f45;
}

.tab{
    padding:15px 25px;
    cursor:pointer;
    color:#aaa;
    transition:.3s;
}

.tab.active{
    color:white;
    border-bottom:3px solid #7cff00;
}

.container{
    padding:20px;
}

.section{
    display:none;
}

.section.active{
    display:block;
}


.card{
    background:#1a1f35;
    border-radius:15px;
    margin-bottom:20px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.card img{
    width:140px;
    height:140px;
    object-fit:cover;
}

.card-info{
    padding:15px;
    flex:1;
}

.card-title{
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px;
}

.price{
    color:#7cff00;
}

.btn{
    margin-right:20px;
    background:#7cff00;
    color:black;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(150px,1fr));
    gap:15px;
}

.grid img{
    width:100%;
    border-radius:12px;
    transition:.3s;
}

.grid img:hover{
    transform:scale(1.05);
}

.cart-link{
    float:right;
    color:#7cff00;
    text-decoration:none;
    font-size:16px;
}

.qty{
    width:60px;
    padding:5px;
    margin:10px 0;
}

.cart-item{
    background:#1a1f35;
    padding:15px;
    border-radius:10px;
    margin-bottom:10px;
}

.danger-btn{
    background:#ff4d4d;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:8px;
    cursor:pointer;
    margin-top:5px;
    margin-right:5px;
}